*{
    padding: 0;
    margin: 0;
}
body{
    
    font: 1em arial;
    background-color: rgb(110, 110, 231);
    
}
header{
    margin: 20px;
}
h1{
    color: white;
    text-align: center;
}
section{
    padding:10px;
    background-color: white;
    width: 440px;
    margin: auto ;
    border-radius: 15px;
    box-shadow: 1px 1px 2px black;
}
select {
   width:45%;
}
div#output{
    /*display: inline-block;*/
    /*height:138px;*/
    /*border: 1px solid rgba(0, 0, 0, 0.158);*/ 
    /*overflow-y: scroll;*/
    /*font-size: 0.7em;*/
    margin-top: 10px;
    max-width: 300px;
}
div > p{
    margin:0 2px;
}
input{
    margin-top: 15px;
    align-content: normal;
}

footer{
    text-align: center;
    margin: auto;
    margin-top: 12px;
    font:1em arial;
    font-style: italic;
    color: white;
}