body{
    font: 1em arial;
    background-color: rgb(110, 110, 231);
}
h1{
    color: white;
    text-align: center;
}
section{
    padding: 10px;
    background-color: white;
    min-width:370px;
    max-width: 370px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 2px black;
}
div#output{
    margin-top: 10px;
   
}
input{
    margin-top: 15px;
    align-content: normal;
}

footer{
    text-align: center;
    margin: auto;
    margin-top: 12px;
    font:1em arial;
    font-style: italic;
    color: white;
}